<%- include('./ejs/includes/head') -%>
    <%- include('./ejs/components/header') -%>
        <p class="mt-4 pt-5"></p>
        <%- include('./ejs/components/small-banner',{bannTitle:'About Term'}) -%>


            <%- include('./ejs/components/2col-img-txt') -%>


                <%- include('./ejs/components/one-col-slider') -%>
                    <%- include('./ejs/components/maincat-full') -%>

                        <%- include('./ejs/includes/footer') -%>