<%- include('./ejs/includes/head') -%>
    <%- include('./ejs/components/header') -%>
        <%- include('./ejs/components/banner') -%>
            <div class="container">

                <%- include('./ejs/views/home/mainCategory') -%>

            </div>
            <%- include('./ejs/components/brand-slider') -%>
                <%- include('./ejs/components/parallax', {bg:'./images/parallax.jpg'}) -%>
                    <%- include('./ejs/components/indev-slider') -%>
                        <%- include('./ejs/components/indev-slider') -%>
                            <%- include('./ejs/includes/footer') -%>